#answer{
height:35px;
margin-bottom:10px;
text-align:right;
border-radius:0%;		
}
.btn{
width:39.5px;
height:39.5px;
border-radius:20%;
border-width:0px;
background-color:grey;
margin-top:5px;
}
.image{
width:40px;
height:40px;
border-radius:50%;
}